.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-left: 1.5rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-link:hover {
  text-decoration: underline;
}
